* {
    -fx-primary: #c40101;
    -fx-secondary: #980B0B;
    -fx-tertiary: #660000;
    -fx-hoverExitMinButton: #7c0000;

}

.login_signupButtons {
     -jfx-button-type: RAISED;
     -fx-background-color: transparent;
     -fx-background-radius: 25px;
     -fx-border-color: -fx-primary;
     -fx-border-radius: 25px;
     -fx-border-size: 3px;
     -fx-border-width: 3px;
     -fx-text-fill: White;
}
.login_signupButtons:hover {
     -jfx-button-type: RAISED;
     -fx-background-color: -fx-primary;
     -fx-background-radius: 25px;
     -fx-border-color: -fx-primary;
     -fx-border-radius: 25px;
     -fx-border-size: 3px;
     -fx-border-width: 3px;
     -fx-text-fill: White;
}
.MinExitButtons {
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
}
.MinExitButtons:hover {
    -jfx-button-type: FLAT;
    -fx-background-color: -fx-hoverExitMinButton;
    -fx-background-radius: 5em;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 5em;
}

.jfx-field {
    -fx-prompt-text-fill: White;
    -fx-text-inner-color: White;
    -fx-background-color: transparent;
    -fx-font-weight: Bold;
    -fx-font-size: 13px;
}

.main-AnchorPane {
    -fx-background-color: -fx-tertiary;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
}
.Side-AnchorPane {
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 15px;
}

.dialogButton {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 5em;
}

.dialogButton:hover {
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5em;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 5em;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: TRANSPARENT;
}
