.jfx-field {
    -fx-prompt-text-fill: White;
    -fx-text-inner-color: White;
    -fx-background-color: transparent;
    -fx-font-weight: Bold;
    -fx-font-size: 13px;
}

.jfx-date-picker {
}

.jfx-time-picker {
}

.jfx-combo-box {
}

.jfx-text-area {
}

.UserButt{
    -fx-background-color: #660000;
    -fx-background-radius: 15px 15px 0px 0px;
    -fx-border-color: #980B0B;
    -fx-border-radius: 15px 15px 0px 0px;
    -fx-border-width: 0px;
}

.menuButts{
    -fx-background-color: transparent;
    -fx-border-color: #660000;
    -fx-border-width: 0px;
}

.SettButt{
    -fx-background-color: #660000;
    -fx-background-radius: 0px 0px 15px 15px;
    -fx-border-color: #980B0B;
    -fx-border-radius: 0px 0px 15px 15px;
    -fx-border-width: 0px;
}